body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.App {
    background: url('./congruent_pentagon/congruent_pentagon.png');
    display: grid;
    grid-template-columns: 1fr 200px minmax(0, 1200px) 1fr;
    grid-template-rows: 100px auto;
    grid-row-gap: 20px;
    grid-column-gap: 20px;
    align-items: stretch;
    min-height: 100vh;
    min-width: 100vh;
    box-sizing: border-box;
}

.App-title {
  color: #333;
}

.App-navigation {
    background: rgba(255, 255, 255, 0.8);
    padding: 10px;
}

.App-sidebar {
    background: rgba(255, 255, 255, 0.8);
    display: relative;
    padding: 10px;
}

.App-mainContent {
    padding: 10px;
    background: rgba(255, 255, 255, 0.8);
}

.App-sidebar img {
    max-width: 100%;
}

.App-toc {
  position: sticky;
  display: block;
  top: 20px;
  left: 0;
}

.App-toc h1 {
  font-size: 24px;
  margin-bottom: 20px;
  font-weight: bold;
  text-transform: uppercase;
  background: palegoldenrod;
  padding: 10px;
  text-align: center;
  color: black;
}

.App-sidebar a::before {
  content: '> ';
}
.App-sidebar a {
    display: block;
    font-size: 17px;
    text-decoration: none;
    font-weight: light;
    color: black;
    margin-bottom: 20px;
    text-transform: uppercase;
}

.App-sidebar a:hover {
    text-decoration: underline;
}

.App-navigation h1 {
    font-size: 36pt;
    font-weight: 200;
}

.Article-title {
    font-size: 2em;
}

.App-navigation {
    grid-column: 2 / span 2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

.App-rightNav {
    width: 170px;
    opacity: 0.5;
    text-align: right;
}

.App-sidebar {
    grid-column: 2;
    grid-row: 2;
}

.App-mainContent {
    grid-column: 3;
}

.App-mainContent h1 {
  font-size: 32pt;
  color: tomato;
  margin-bottom: 20px;
  border-top: 2px dashed tomato;
  padding-top: 20px;
}

.App-mainContent h1:first-child {
  border-top: none;
  padding-top: 0;
}


.App-mainContent h3 {
  font-size: 24pt;
  color: tomato;
  margin-top: 30px;
  margin-bottom: 10px;
}

.App-logo {
  height: 80px;
}

.App-library {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 80px;
    align-items: start;
}

.App-library > div {
  display: flex;
  flex-wrap: wrap;
}

.Code {
    font-size: 14pt;
    background: white;
    padding: 20px;
    border-radius: 10px;
    margin-top: 0;
}
